.SignH3{
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.submitBtn{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
  color: #00ffff;
  border: 2px solid #00ffff;
}
.submitBtn:hover{
 color: #000000;
  background-color: #00ffff;
}

.link{
    text-decoration: underline;
       background-image: linear-gradient(90deg, #ffffff 0%, #00ffdd 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s, color 0.4s;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
    
}

.link:hover {
    background-size: 100% 100%;
    color: #2d0af1;
    -webkit-text-fill-color: transparent;
}

.pwlaceholder, .emailplaceholder{
    margin-left: 10px;
    width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000000;
  padding-left: 10px;
  font-size: 16px;
}
.logout{
    position: absolute;
    bottom: -2.7vh;
    right: -11vh;
  
    background-color: transparent;
  color: #00ffff;
  border: 2px solid #00ffff;
}
.logout:hover{
 color: #000000;
  background-color: #00ffff;
}